.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  padding: 20px;
}

table {
  background-color: white;
  padding: 20px;
  width: 80%;
  box-shadow: 0 0 10px gray;
  border-collapse: collapse;
}

tr th {
  text-align: center;
  background: white;
  color: black;
  border-bottom: 2px solid black;
  padding: 10px 5px;
}


tr {
  border-bottom: 1px solid gray;
}

td {
  padding: 5px;
}

.main-filter {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 25px;
}

.filter-box {
  border-right: 1px solid black;
  padding-right: 20px;
}

.switch-box {
  text-align: left;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: gray;
}

input:focus+.slider {
  box-shadow: 0 0 1px white;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.input-box {
  height: 30px;
  margin-top: 10px;
}